target
pom.xml.*
local.properties
gen/
DS_Store
classes
checkstyle.xml
captures/
bin/
/reports
/local.properties
/captures
/build
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/modules.xml
/.idea/libraries
/.idea/caches
/.idea/assetWizardSettings.xml
/.idea
.idea/*
.gradle/*
.gradle
.externalNativeBuild
.DS_Store
*/build
*.iws
*.ipr
*.iml
*.hprof
*.dex
*.class
**/config/**
**/build